{% extends "layout.html" %}
{% block content %}
    <h3>Post a Course Review</h3>
    <form action="{{ url_for('sign') }}" method=post>
        <div class="input-container">
            <label for=department class="heading">Department: </label>
            <input type=text name=department>
            <label for=course_no class="heading">Course Number: </label>
            <input type=text name=course_no>
            <label for=quarter class="heading">Quarter: </label>
            <input type=text name=quarter>
            <label for=year class="heading">Year: </label>
            <input type=text name=year>
            <label for=instructor class="heading">Instructor: </label>
            <input type=text name=instructor>
            <label for=review class="heading">Review: </label>
            <textarea rows=5 cols=50 name=review></textarea></p>
        </div>
        <p><input type=submit value=Sign></p>
    </form>
    <h3><a href="{{ url_for('index') }}">Home</a></h3>
{% endblock %}