{% extends "layout.html" %}
{% block content %}
<h3><a href="{{ url_for('index') }}">Home</a></h3>
    <h3>View Reviews</h3>
    {% for review in reviews %}
        <p class=review>
            Department: {{ review.department }} <br>
            Course No: {{ review.course_no }} <br>
            Quarter/Year: {{ review.quarter }} {{ review.year }} <br>
            Instructor: {{ review.instructor }} <br>
            Review: {{ review.review }} <br>
            Posted: {{ review.signed_on }} <br>
        </p>    
    {% endfor %}
    <h3><a href="{{ url_for('index') }}">Home</a></h3>
{% endblock %}